# File .htaccess : /

Options -Indexes

Options +FollowSymlinks

RewriteEngine on

#RewriteCond %{REQUEST_FILE_NAME}% !-f
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{HTTP_ACCEPT} text/html|application/json|application/xml|text/xml

#RewriteRule ^(.*)$ web/app.php?url=$1 [QSA,L]